.card-largura{
    max-width: 18rem;
}

.nav-cor{
    background-color: #303030;
}

.img-carrossel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.img-carrossel-dois{
    object-fit: cover;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}
.nav-fonte-tamanho{
    font-size: 2.4rem;
}



.botao-cor-especial{
    background-color: rgba(5, 198, 240, 0.95);
    color: white;
}

.borda-cor-especial{
    border-color: rgba(5, 198, 240, 0.95);
}

.cor-especial{
    color: rgba(5, 198, 240, 0.95)!important;
}

.cor-especial-institucional{
    color: #67aed9!important;
}

.car-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.email-rodape{
    text-decoration: none;
}
.email-rodape:hover{
    text-decoration: underline;
}

.image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-hover:hove{
    font-size: rgba(0,0,0,.9);
}

.text-with-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)!important;
  }


 .img-institucional{
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0; /* Para remover margens padrão do body */
    padding: 0; /* Para remover preenchimento padrão do body */
}


.nome-versao{
   padding-top: 1vh;
   font-weight: 2vh;
   text-decoration: none;
   text-align: center;
}

.botao-card{
    float: left; 
    padding: 30px;   
}
.text-sec-ver{
    margin-top: 2vh;
}


.texto-info{
    max-width: 30%;
    max-inline-size: 100vh;
}

.sobre{
    padding-top: 1vh;
}

.info-ver{
    font-size: 1.5rem;
}

.imagem-versao{
    max-width: 100%;
    height: 100%;
    min-width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.imagem-versao-mobile{
    max-width: 100%;
    width: 80%;
    height: 100%;
    min-width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.imagem-card{
    max-width: 100%;
    height: 100%;

}
.mini-card{
    position: fixed;

}
.desgruta-fela-da-puta{
    margin-top: 20rem;
}

.oculto {
    display: none;
  }

  .selecionado {
    display: block; /* ou qualquer outra propriedade que você deseja para torná-lo visível */
  }

.passa-desgraça{
    
        position: fixed;
        bottom: 0; /* Alinha o footer na parte inferior da tela. */
        width: 100%; /* Ocupa a largura total da tela. */     
}
@media (max-width: 795px) {
    .info-ver{
        max-width: 100%;
        font-size: 20px;
        max-width: 100%;

    }
    .nome-versao{
        padding-top: 2vh;
        font-weight: 2vh;
        text-decoration: none;
        text-align: center;
        display: none;
     }
     
     .botao-card{
         float: left; 
         max-width:33.33%; 
         min-width:33.33%;
         padding: 30px;
        
     }
        
    }

    @media (max-width: 625px) {
        .info-ver{
            max-width: 100%;
            font-size: 20px;
            max-width: 100%;
        
        }
        .nome-versao{
          padding-top: 2vh;
          font-weight: 2vh;
          text-decoration: none;
          text-align: center;
          display: none;
         }
             
        .botao-card{
     
         max-width:33.33%; 
         min-width:33.33%;
         padding: 30px;
                
      }
      .imagem-versao{
        width: 100%;
        height: 100%;
        padding-top: 2px;
        padding-bottom: 20px;
        display: none;
 
    }

    }
                
    



